*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
body{
    background-color: rgb(241, 239, 239);
}
/* header style */
header{
    background-color: white;
}
header img, header h1 {
    display: inline-block; 
    vertical-align: middle; 

}
